{% extends "layouts/application.html" %}
{% block title %}Image Studio{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(function() {
      $('#choose').click(function(e) {
        var intent = new Intent( 'http://webintents.org/pick', 'image/*');
        window.navigator.startActivity(intent, function(data) {
          var url = $.isArray(data) ? data[0] : data; 
          $("#result").attr('src', url).css({ "width": "auto", "height": "auto"});
          $("#edit, #share, #save").removeClass("disabled")
                                   .removeAttr('disabled');

        });
      });

      $("#edit").click(function (e) {
        var intent = new Intent( 'http://webintents.org/edit', 'image/*', $("#result").attr("src"));
        window.navigator.startActivity(intent, function(data) {
          var url = $.isArray(data) ? data[0] : data; 
          $("#result").attr('src', url);
        });
      });

      $('#save').click(function(e) {
        var intent = new Intent( 'http://webintents.org/save', 'image/*', $('#result').attr('src'));
        window.navigator.startActivity(intent, function(data) {

        });
      });

      $('#share').click(function() {
        var intent = new Intent( 'http://webintents.org/share', 'image/png', $('#result').attr('src'));

        window.navigator.startActivity(intent, function(data) {
          
        });
      });
    });
  </script>
{% endblock %}
{% block content %}
<div id="steps">
  <input type="button" class="btn primary" value="Choose Image" id="choose"/>
  <input type="button" class="btn disabled" disabled value="Edit" id="edit"  />
  <input type="button" class="btn disabled" disabled value="Save" id="save"  />
  <input type="button" class="btn disabled" disabled value="Share" id="share"  />
</div>
<img src='' id='result'/>
{% endblock %}
