{% extends "demos/imagestudio/layouts/application.html" %}
{% block title %}Imagemator{% endblock %}
{% block headline %}Imagemator{% endblock %}
{% block scripts %}
  <script src="//webintents.org/webintents.js"></script>
  <link rel=icon href="favicon.ico" />
  <intent action="http://webintents.org/view"
          type="image/*" />
  <script type="text/javascript" src="/scripts/index.js">
 </script>
{% endblock %}
{% block content %}
<div id="steps">
  <input type="button" class="btn primary" value="Choose Image" id="choose"/>
  <input type="button" class="btn disabled" disabled value="Edit" id="edit"  />
  <input type="button" class="btn disabled" disabled value="Save" id="save"  />
  <input type="button" class="btn disabled" disabled value="Share" id="share"  />
</div>
<img src='' id='result'/>
{% endblock %}
