.DS_Store
*.pid
*.bpkg
*.log
*.lock
*.sqlite3
webintents.js
webintents.debug.js
webintents.min.js
tools/chrome/extensions/share/webintents.js
examples/lib/webintents*
widgets/lib/webintents*
server/lib/webintents*
demos/twitpic/public/assets/*
demos/memegen/public/assets/*
server/webintents/webintents.*
server/webintents/cache.manifest
