{% extends "demos/inspirationmator/layouts/application.html" %}
{% block title %}Inspriationmator{% endblock %}
{% block headline %}Inspriationmator{% endblock %}
{% block scripts %}
<link rel=icon href="/favicon.ico" />
<script type="text/javascript" src="/scripts/common.js"></script>
<script type="text/javascript" src="/scripts/view.js"></script>
<intent action="http://webintents.org/edit"
  type="image/*"
  href="index.html" />

<intent action="http://webintents.org/pick"
  type="image/*"
  href="pick.html" />
  {% endblock %}
{% block content %}
<div id="container">
  <h1 itemprop="name">InspirationMator: Image {{title}}</h1>
  <p itemprop="description">{{text_top}} - {{text_bottom}}</p>
  <img id="image" itemprop="image" src="{{url}}"/>
</div>
<input type="button" class="btn primary" id="save" value="Save Inspiration" style="display: inline-block;" />
<input type="button" class="btn primary" id="share" value="Share Inspriation" style="display: inline-block;" />
<input type="button" class="btn primary" id="sharelink" value="Share Page" style="display: inline-block;" />
{% endblock %}
