{% extends "demos/inspirationmator/layouts/application.html" %}
{% block title %}Inspriationmator{% endblock %}
{% block headline %}Inspriationmator{% endblock %}
{% block scripts %}
<link rel=icon href="favicon.ico" />
<script type="text/javascript" src="scripts/common.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
<intent action="http://webintents.org/edit"
  type="image/*"
  href="index.html" />

<intent action="http://webintents.org/pick"
  type="image/*"
  href="pick.html" />
  {% endblock %}
{% block content %}
<div id="container">
  <img id="image" style="display:none;"/>
</div>
<input type="button" class="btn primary" id="save" value="Save Inspiration" />
<input type="button" class="btn primary" id="share" value="Share Inspriation" />
{% endblock %}
