{% extends "demos/mememator/layouts/application.html" %}
{% block title %}Mememator{% endblock %}
{% block headline %}Mememator{% endblock %}
{% block scripts %}
<link rel=icon href="favicon.ico" />
<script type="text/javascript" src="scripts/memegen.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
<intent action="http://webintents.org/edit"
  type="image/*"
  href="index.html" />

<intent action="http://webintents.org/pick"
  type="image/*"
  href="pick.html" />
  {% endblock %}
{% block content %}
<input type="text" id="top" placeholder="Headline" />
<div id="container">
  <img id="image" style="display:none;"/>
</div>
<input type="text" id="bottom" placeholder="Footer" />
<input type="button" class="btn primary" id="done" value="Done Editing" />
<input type="button" class="btn primary" id="save" value="Save Meme" />
<input type="button" class="btn primary" id="share" value="Share Meme" />
{% endblock %}
