{% extends "demos/mememator/layouts/application.html" %}
{% block title %}Mememator{% endblock %}
{% block headline %}Mememator{% endblock %}
{% block scripts %}
<link rel=icon href="/favicon.ico" />
<script type="text/javascript" src="/scripts/memegen.js"></script>
<script type="text/javascript" src="/scripts/view.js"></script>
{% endblock %}
{% block content %}
<div id="container" itemscope itemtype="http://schema.org/Thing">
  <h1 itemprop="name">Mememator: Image {{title}}</h1>
  <p itemprop="description">{{text_top}} - {{text_bottom}}</p>
  <img id="image" itemprop="image" src="{{url}}"/>
</div>
<input type="button" class="btn primary" id="save" value="Save Meme" style="display: inline-block"/>
<input type="button" class="btn primary" id="share" value="Share Image" style="display: inline-block"/>
<input type="button" class="btn primary" id="sharelink" value="Share Link" style="display: inline-block"/>
<intent action="http://webintents.org/edit"
  type="image/*"
  href="index.html" />
{% endblock %}
