{% extends "demos/profilephoto/layouts/application.html" %}
{% block title %}Take your profile photo using your webcam{% endblock %}
{% block headline %}quicksnapr{% endblock %}
{% block scripts %}
<script src='//webintents.org/webintents.min.js'></script>
<script type="text/javascript" src="/scripts/index.js"></script>
{% endblock %}
{% block content %}
<div id="container">
	<video poster="no-support.png"  autoplay>
	</video>
	<canvas style="display:none"></canvas>
</div>
<div id="snaps" class="cf">
	<!-- add screencaps -->
	<div class="cf" id="actions"><span class="action" id="save">Save</span><span class="action share" id="share">Share</span><span class="action delete" id="delete">Delete</span></div>
</div>
{% endblock %}
{% block footer %}Made by Google{% endblock %}
