<!-- Just a question, is this file supposed to be in here? -->
{% extends "demos/mememator/layouts/application.html" %}
{% block title %}Mememator: Pick an Image{% endblock %}
{% block headline %}Pick an Image{% endblock %}
{% block scripts %}
    <script src="//webintents.org/webintents.min.js"></script>
  <link rel=icon href="favicon.ico" />
<intent action="http://webintents.org/edit"
  type="image/*"
  href="index.html"/>
<intent action="http://webintents.org/pick"
  type="image/*"
  title="Mememator"
  href="pick.html"/>
<script src="scripts/memegen.js"></script>
<script src="scripts/pick.js"></script>
{% endblock %}
{% block content %}
<div id="images">
  <img src="lonely_paul.jpeg"/>
</div>
{% endblock %}
