{% extends "examples/layouts/base.html" %}
{% block title %}Examples{% endblock %}
{% block headline %}Examples{% endblock %}
{% block head %}
  <nav class="sub">
    <span>Page: </span>
    <a href="#intents">Intents</a>
    <a href="#registration">Registration</a>
    <a href="#usage">Start Activity</a>
  </nav>
{% endblock %}
{% block content %}
<section>
  <h2>Use Cases: Intents</h2>
  <p>A collection of examples demonstrating use-cases for Web Intents</p>
  <ul>
    <li><a href="intents/share/share.html">Simple Share</a> - Demonstrates the ability to open an app that shares links</li>
    <li><a href="intents/shorten/shorten.html">Shorten URL</a> - Demonstrates the ability to open an app that shares a link, and the service shortens it and returns a response</li>
    <li><a href="intents/pick/pick.html">Pick an Image from a cloud service</a> - Demonstrates the ability to integrate with cloud file hosts and pick a file to include in your client application</li> 
    <li><a href="intents/discover/discover.html">Discover services providers offer</a> - Demonstrates how you can discover the APIs and services other namespaces offer</li> 
  </ul>

  <h2>Usage: Registration</h2>
  <p>A collection of examples that show you the different ways to register an intent.</p>
  <ul>
    <li><a href="usage/declarativeRegistration/index.html">Declaratively Register an action for an intent</a></li>
  </ul>

  <h2>Usage: Start Activity</h2>
  <p>A suite of examples that show you how to quickly start an activity</p>
  <ul>
    <li><a href="usage/startActivity/index.html">Starts an Action</a></li>
  </ul>
  </section>
{% endblock %}
