@font-face {
	font-family:'Lekton';  
	src:url(Lekton-Regular.ttf) format("truetype");
}
@font-face {
	font-family:'Press Start 2P';  
	src:url(PressStart2P-Regular.ttf) format("truetype");
}

/* html, body */
html { box-sizing:border-box; min-height:100%; height:100%; width:100%; border:5px solid #0401ff; background:#feff04; /*-webkit-animation:body 30s; -webkit-animation-iteration-count:infinite;*/ }
body { width:100%; height:100%; margin:0; padding:0; color:white; font-family:'Lekton','Helvetica Neue', Arial, sans-serif; border:5px solid #ff03fe; }

/* general resets */
::selection{ background:yellow;color:#040707;text-shadow:none; }
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { *zoom:1; }
body, div, section, canvas, video, header, img, input, table, td {  box-sizing:border-box; }
table { height:100%; width:100%; }
td { height:100%; width:100%; vertical-align:middle; }

.wrapper { width:100%; height:100%; border:5px solid #05fe0b; }

/* header */
header { width:100%; padding:; }
h1 { text-align:center; font-size:200%; font-family:'Press Start 2P', cursive; padding:0 0 .45em 0; margin:0 auto; position:relative; z-index:3; letter-spacing:normal; font-weight:normal; color:#040407; position:relative; width:10em; left:38px; }
h1 span { letter-spacing:-.1em; }
h1 .more { letter-spacing:-.2em; }
h1 .dbl { letter-spacing:-.3em; }
h1 span { color:red; }
h1 span.ani { -webkit-animation:letterColor 2s; -webkit-animation-iteration-count:infinite; -webkit-animation-delay:.4s; }
h1 span:nth-child(2) { color:blue; }
h1 span:nth-child(3) { color:green; }
h1 span:nth-child(4) { color:#ff03fe; }
h1 span:nth-child(5) { color:#fd8901; }
h1 span:nth-child(6) { color:blue; }
h1 span:nth-child(7) { color:green; }
h1 span:nth-child(8) { color:#ff03fe; }
h1 span.ani:nth-child(2) { -webkit-animation-delay:.5s; }
h1 span.ani:nth-child(3) { -webkit-animation-delay:.6s; }
h1 span.ani:nth-child(4) { -webkit-animation-delay:.7s; }
h1 span.ani:nth-child(5) { -webkit-animation-delay:.8s; }
h1 span.ani:nth-child(6) { -webkit-animation-delay:.9s; }
h1 span.ani:nth-child(7) { -webkit-animation-delay:1s; }
h1 span.ani:nth-child(8) { -webkit-animation-delay:1.1s; }
h1 span.ani:nth-child(9) { -webkit-animation-delay:1.2s; }
h1:before { content:"creating the memes"; position:absolute; left:-10em; top:.5em; font-family:'Lekton','Helvetica Neue', Arial, sans-serif; font-size:15px; display:inline; width:auto; background:#040407; padding:.15em; color:white; }
h1:after { content:"since 1177"; position:absolute; right:-5em; top:.5em; font-family:'Lekton','Helvetica Neue', Arial, sans-serif; font-size:15px; display:inline; width:auto; background:#040407; padding:.15em; color:white; }

section { width:100%; min-height:100%; position:relative; z-index:3; }
canvas { display:block; }

/* main contents */
#app { background:white; padding:0; width:600px; min-height:400px; text-align:center; position:relative; margin:0 auto; box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 -2px 0 rgba(0,0,0,0.15), 2px 0 0 rgba(0,0,0,0.15), -2px 0 0 rgba(0,0,0,0.15); border-radius:2px; }
.rotate { opacity:1; -webkit-animation:rotate .5s; -webkit-animation-iteration-count:1; }
#container { min-height:450px; background:url(../images/kitten.jpeg) no-repeat center center; cursor:pointer; position:relative; }
#container:hover { -webkit-animation:pushout .4s; -webkit-animation-iteration-count:infinite; }
#container:active { opacity:.6; }
h2 { position:absolute; top:39%; left:20.5%; background:#040407; padding:1.25em 1.25em 1.2em; }

input[type=text] { width:600px; height:2em; border:0; padding:.1em 0; text-align:center; font-family:'Lekton', 'Impact', Arial, sans-serif; font-size:200%; outline:none; background:#040407; color:white; }
#top { top:0; }
#bottom { bottom:0; }
input { display:none; }

#actions { position:absolute; bottom:-55px; width:600px; left:0; }
.btn { color:white; padding:.35em .5em; line-height:1; cursor:pointer; display:inline-block; width:auto; float:right; margin:0 0 0 1em; text-shadow:0 1px 0 rgba(0,0,0,0.5); background:#040407; display:none; }
.btn:hover { -webkit-animation:spinner .3s; -webkit-animation-iteration-count:1; }
.btn:active { padding:.45em .5em .25em; color:rgba(255,255,255,0.5); }

/* footer */
footer { font-size:11px; position:fixed; bottom:4%; right:2.5%; opacity:.5; z-index:1; text-align:right; text-shadow:0 1px 0 rgba(0,0,0,0.5); display:inline; background:#040407; }
h3 { font-size:11px; position:fixed; bottom:3.2%; left:2.5%; opacity:.5; z-index:1; text-align:right; color:#040407; cursor:pointer; -webkit-transition:opacity .3s ease-in-out; }
h3:hover { opacity:1; }

/* animations */
@-webkit-keyframes spinner
{
	0% { -webkit-transform:rotate(0deg); }
	20% { -webkit-transform:rotate(5deg); }
	40% { -webkit-transform:rotate(-5deg); }
	60% { -webkit-transform:rotate(5deg); }
	80% { -webkit-transform:rotate(-5deg); }
	100% { -webkit-transform:rotate(2deg); }
}

@-webkit-keyframes body
{
	0% { background:#fed203; border-color:#fff115; }
	33% { background:#15ffaf; border-color:red; }
	66% { background:#f115ff; border-color:#15ffaf; }
	100% { background:#fff115; border-color:black; }
}

@-webkit-keyframes letterColor
{
	0% { color:red; }
	11% { color:blue; }
	22% { color:green; }
	33% { color:#ff03fe; }
	44% { color:#fd8901; }
	55% { color:red; }
	66% { color:blue; }
	77% { color:green; }
	88% { color:#ff03fe; }
	90% { color:#fd8901; }
	100% { color:red; }
}

@-webkit-keyframes pushout
{
	0% { box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 -2px 0 rgba(0,0,0,0.15), 2px 0 0 rgba(0,0,0,0.15), -2px 0 0 rgba(0,0,0,0.15); }
	16% { box-shadow:0 3px 0 rgba(0,0,0,0.15), 0 -3px 0 rgba(0,0,0,0.15), 3px 0 0 rgba(0,0,0,0.15), -3px 0 0 rgba(0,0,0,0.15); }
	32% { box-shadow:0 4px 0 rgba(0,0,0,0.15), 0 -4px 0 rgba(0,0,0,0.15), 4px 0 0 rgba(0,0,0,0.15), -4px 0 0 rgba(0,0,0,0.15); }
	48% { box-shadow:0 5px 0 rgba(0,0,0,0.15), 0 -5px 0 rgba(0,0,0,0.15), 5px 0 0 rgba(0,0,0,0.15), -5px 0 0 rgba(0,0,0,0.15); }
	64% { box-shadow:0 4px 0 rgba(0,0,0,0.15), 0 -4px 0 rgba(0,0,0,0.15), 4px 0 0 rgba(0,0,0,0.15), -4px 0 0 rgba(0,0,0,0.15); }
	80% { box-shadow:0 3px 0 rgba(0,0,0,0.15), 0 -3px 0 rgba(0,0,0,0.15), 3px 0 0 rgba(0,0,0,0.15), -3px 0 0 rgba(0,0,0,0.15); }
	100% { box-shadow:0 2px 0 rgba(0,0,0,0.15), 0 -2px 0 rgba(0,0,0,0.15), 2px 0 0 rgba(0,0,0,0.15), -2px 0 0 rgba(0,0,0,0.15); }
}
