/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  background-color: #ddd;
}

body {
  margin: 30px 50px 30px 50px;
  box-shadow: 0 0 10px #666;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #eee;
}

header {

}

section {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

footer {
}

#result {
  height: 600px;
  width: 800px;
  box-shadow: inset 0 0 10px #666;
}

#steps {
  margin: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#steps input {
  display: block;
  margin: 0 5px 5px 5px;
}
