{% extends "demos/shortener/layouts/application.html" %}
{% block title %}Demo: Goo.gl URL Shortener{% endblock%}
{% block head %}Demo: Goo.gl URL Shortener{% endblock%}
{% block scripts %}
    <link rel=icon href="favicon.ico" />
    <script src="//webintents.org/webintents.min.js"></script>
    <script src="//webintents.org/webintents-prefix.js"></script>
<intent action="http://webintents.org/shorten"
  type="text/uri-list"
  href="shorten.html"
  icon="favicon.ico"
  disposition="inline" />
{% endblock %}
{% block content %}
<h1>Goo.gl URL Shortener Registration Page</h1>
<p>This is the registration page for Goo.gl API.</p>

<h2>Try it out</h2>
<p>This is a simple demo.  Shorten this page using the Goo.gl URL Shortener</p>
<input id="linkToShorten" type="text" value="http://paul.kinlan.me" />
<input id="shortenButton" type="button" value="Shorten Url" class="btn primary" />

<h2>Registration</h2>
<p>
  It is simple to set up an app to be able to handle incoming data.
  This Goo.gl Bridge will let anyone shorten a url using the Google URL Shortening service
</p>
<pre>&lt;intent action="http://webintents.org/shorten"
  type="text/uri-list"
  href="shorten.html"
  disposition="inline" /&gt;
</pre>
<p>
  The above tag just needs to be placed on your page, with a "href" of the page you want to be opened and now
  your page will be able to be launched via the Web Intent system when a user invokes the "<a href="http://webintents.org/shorten">shorten</a>" intent. 
</p>
<script>
  startActivity = window.navigator.startActivity || window.navigator.webkitStartActivity;
  var link = document.getElementById("linkToShorten");
  var shorten = document.getElementById("shortenButton");
  shorten.addEventListener("click", function() {
    var url = link.value;
    var intent = new Intent("http://webintents.org/shorten", "text/uri-list", url);
    startActivity.call(window.navigator, intent, function(data) {});
  }, false);
</script>
<h2>How to Shorten the link</h2>
<p>The code for invoking the "shorten" intent is below.</p>
<pre>
  var link = document.getElementById("linkToShorten");
  var shorten = document.getElementById("shortenButton");
  shoren.addEventListener("click", function() {
    var url = link.value;
    var intent = new Intent("http://webintents.org/shorten", "text/uri-list", url);
    window.navigator.startActivity(intent, function(data) {});
  }, false);
</pre>


{% endblock %}
