html {
  background-color: #D8D8C0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  background-color: #D8D8C0;
  background-size: 100%;
}

header {
  width: 100%;
  background-color: #000000; 
  box-shadow: 0 0 20px #000;
  border-bottom: solid 5px #1693A5;
  margin-bottom: 20px;
}

header h1 {
  font-family: 'Josefin Slab';
  color: white;
  padding: 10px;
}

header h1 .tagline:before {
  content: ' - '
}

header h1 .tagline {
  font-family: Arial;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px 1px #eee;
  -webkit-text-stroke: 0; 
  font-size: 0.6em; 
}

section {
  min-width: 800px;
  width: 50%;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  box-shadow: 0 0 20px #000;
  padding: 20px;
}

footer {
  margin: 0;
  padding: 0;
  border: none;
}

#container {
  min-height: 480px;
  width: 100%;
  box-shadow: inset 0 0 10px #666;
  background-color: #ddd;
  cursor: pointer;
}

#save, #sharelink, #share, #done {
  display: none;
}

input[type=text] {
  display: block;
  font-size: 2em;
  font-family: 'Josefin Slab';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 5px 0px 5px 0px;
  color: white;
  background-color: black;
}

#images img {
  width: 128px;
  border: solid 5px white;
  cursor: pointer;
}
