{% extends "layouts/application.html" %}
{% block scripts %}
  <script type="text/javascript">
    var context;
    var canvas;

    $(function() {
      if (window.intent) {

        // Data has been passed in.
        $('#done').click(function() {
          if (canvas) {
            window.intent.postResult(canvas.toDataURL());
            window.setTimeout(function() { window.close(); }, 5000);
          }
        });
        var url = $.isArray(window.intent.data) ? window.intent.data[0] : window.intent.data;
        var img = $('#image');
        img.load(function() {
          var image = $('#image');
          canvas = document.createElement('canvas');
          $('body').append(canvas);
          canvas.width = image.width();
          canvas.height = image.height();
          context = canvas.getContext('2d');
          context.drawImage(image.get()[0], 0, 0);
        });
     
        loadImage(img, url);
      }
      else {
        // There is no data so we want to pick an image.
          $('pick').show();
          $('save').hide();
      }

      $('save').click(function() {

      });



      $('pick').click(function(e) {
          var img = $('image');
          var i = new Intent('http://webintents.org/pick', 'image/*');
          window.navigator.startActivity(i, function(data) {
            var url = $.isArray(data) ? data[0] : data;
            loadImage(img, url);
          });
      });
    });
  </script>
{% endblock %}
{% block content %}
<div>
  <input type="button" id="save"/>
  <input type="button" id="pick" />
</div>
<img id="image" style="display:none"/>
{% endblock %}
