<% content_for(:js) do %>
  <intent
    type="image/*"
    action="http://webintents.org/save"
    href="twitpic"/>
  <script type="text/javascript">
    $(function() {
      attachPickListener(
        $('#choose'), $('#step1'), $('#step2'), $('#result_div'), $('#result'))
    });
  </script>
<% end %>

<h1>Demo: Upload to Somewhere</h1>
<div id='step1'>
  <h3>First, pick an image</h3>
  <input type="button" value="Choose Image" id="choose"/>
</div>

<div id='step2' style='display:none'>
  <h3>Now, save the image</h3>
</div>

<div id='result_div' style='display:none'>
  <h3>Result</h3>
  <img src='' id='result'/>
</div>
