<% content_for(:js) do %>
  <intent
    type="image/*"
    action="http://webintents.org/save"
    href="save"/>
  <script type="text/javascript">
    $(function() {
       $('#choose').click(function(e) {
        var intent = new Intent(
            'http://webintents.org/pick',
            'image/*');
        window.navigator.startActivity(intent, function(intent) {
          $("#result").attr('src', intent.data).css({ "width": "auto", "height": "auto"});
        });
      });
    });
  </script>
<% end %>

<div id="steps">
  <input type="button" class="button primary" value="Choose Image" id="choose"/>
  <%= form_tag logout_path, :method => :delete do %>
    <%= submit_tag 'Sign out' %>
  <% end %>
</div>
<img src='' id='result'/>
