<% content_for(:js) do %>
  <intent
    type="image/*"
    action="http://webintents.org/edit"
    href="edit"/>
  <script type="text/javascript">
    $(function() {
       $('#choose').click(function(e) {
        var intent = new Intent();
        intent.action = 'http://webintents.org/pick';
        intent.type = 'image/*';
        window.navigator.startActivity(intent, function(intent) {
          $("#result").attr('src', intent.data).css({ "width": "auto", "height": "auto"});
          $("#edit, #share, #save").removeClass("disabled")
                                   .removeAttr('disabled');

        });
      });

      $("#edit").click(function (e) {
        var intent = new Intent();
        intent.action = 'http://webintents.org/edit';
        intent.type = 'image/*';
        intent.data = $("#result").attr("src");
        window.navigator.startActivity(intent, function(data) {
          $("#result").attr('src', data.data);
        });
      });

      $('#save').click(function(e) {
        var intent = new Intent();
        intent.action = 'http://webintents.org/save';
        intent.type = 'image/*';
        intent.data = $('#result').attr('src');
        window.navigator.startActivity(intent, function(data) {

        });
      });

      $('#share').click(function() {
        var intent = new Intent();
        intent.action = 'http://webintents.org/share';
        intent.type = 'image/png';
        intent.data = $('#result').attr('src');

        window.navigator.startActivity(intent, function(data) {
          
        });
      });
    });
  </script>
<% end %>

<div id="steps">
  <input type="button" class="btn primary" value="Choose Image" id="choose"/>
  <input type="button" class="btn disabled" disabled value="Edit" id="edit"  />
  <input type="button" class="btn disabled" disabled value="Save" id="save"  />
  <input type="button" class="btn disabled" disabled value="Share" id="share"  />
</div>
<img src='' id='result'/>
