html {
  background-color: #ddd;
}

body {
  margin: 30px 50px 30px 50px;
  box-shadow: 0 0 10px #666;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #eee;
}

#result {
  height: 600px;
  width: 800px;
  box-shadow: inset 0 0 10px #666;
}

#steps {
  margin: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#steps input {
  display: block;
  margin: 0 5px 5px 5px;
}
