{% extends "examples/layouts/base.html" %}
{% block title %}Share Link{% endblock %}
{% block headline %}Link Sharing app{% endblock %}
{% block head %}
  <script src="//webintents.org/webintents.min.js"></script>
  <script src="//webintents.org/webintents-prefix.js"></script>
  <script src="/javascripts/events.js"></script>
  <script src="/javascripts/common.js"></script>
  <intent
    action="http://webintents.org/share"
    type="text/uri-list"
    href="link.html"
    disposition="inline"
    title="Kinlan's Link Share" />
  <script>
    attachEventListener(window, "load", function(e) {
      var output = document.getElementById("output");
      if(intent.data instanceof Array)
        setText(output, intent.data[0]);
      else
        setText(output, intent.data);

      intent.postResult(intent.data);
    }, false);
  </script>
  <style>
    iframe {
      float:left;
      width: 50%;
      height: 800px;
    }
  </style>
{% endblock %}
{% block content %}
<section>
  <p>Imagine this is a page like twitter or facebook or google buzz.</p>
  <div id="output"></div>
</section>
{% endblock %}
