{% extends "layouts/base.html" %}
{% block title %}Share Image{% endblock %}
{% block headline %}Image Sharing app{% endblock %}

{% block scripts %}
  <script src="//webintents.org/webintents.min.js"></script>
  <script src="/javascripts/events.js"></script>
  <intent
    action="http://webintents.org/share"
    type="image/*"
    href="share_image.html"
    title="Kinlan's Image Share" />
  <script>
    attachEventListener(window, "load", function(e) {
      var output = document.getElementById("output");

      if(intent.data instanceof Array)
        output.src = intent.data[0];
      else
        output.src = intent.data;

      intent.postResult(intent.data);
    });
  </script>
  <style>
    iframe {
      float:left;
      width: 50%;
      height: 800px;
    }
  </style>
{% endblock %}
{% block content %}
<section>
  <p>Imagine this is a page like twit pic or picplz.</p>
  <img id="output" />
</section>
{% endblock %}
