<!DOCTYPE html>
<html>
<head>
  <title>Mememator</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/application.css">
  <script src='//webintents.org/webintents.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  {% block scripts %}{% endblock %}
</head>
<body>
<header>
  <h1>Memeator</h1>
</header>
<section>
{% block content %}{% endblock %}
</section>
<footer>
</footer>
</body>
</html>
