{% extends "widgets/layouts/base.html" %}
{% block title %}Widgets{% endblock %}
{% block headline %}Widgets{% endblock %}
{% block content %}
<section>
  <p>
    It is important that we enable developers and non-developers to implement and integrate with the webintents eco system with the minmum of effort. 
    We aim to provide a set of widgets that users can drop in to their sites 
  </p>
  <p>
    Widgets will:
  </p>
  <ul>
    <li>Follow best practices</li>
    <li>Will detect the presence of the native intent functions, and download a shim when browsers don't support it;</li>
    <li>Be installable in two minutes;</li>
    <li>Look visually appealing;</li>
    <li>Require little or no coding skill;</li>
  </ul>
  <h2>Widgets</h2>
  <p>
  </p>
  <ul>
    <li><a href="share.html">Share</a></li>
    <li><a href="save.html">Save</a></li>
  </ul>
</section>
{% endblock %}
