<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <script src='//webintents.org/webintents.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  {% block scripts %}{% endblock %}
</head>
<body>
<header>
<h1>{% block headline %}{% endblock %}</h1>
</header>
<section>
{% block content %}{% endblock %}
</section>
<footer>
</footer>
</body>
</html>
