<!doctype html>
<html>
  <head>
    <title>Declartive Registration</title>
    <script src="/lib/webintents.js"></script>
    <intent 
      action="http://webintents.org/share" 
      type="image/*" 
      href="run.html" 
      title="declarive test" />
  </head>
  <body>
    <pre>&lt;intent 
      action="http://webintents.org/share" 
      type="image/*" 
      href="run.html" 
      title="declarive test" /&gt;
</pre>
  </body>
</html>
