<% content_for(:title) do %>Share Link<% end %>
<% content_for(:js) do %>
  <%= javascript_include_tag :webintents %>
  <intent
    action="http://webintents.org/share"
    type="text/uri-list"
    href="sharelink.html"
    title="Kinlan's Link Share" />
  <%= javascript_include_tag :events %>
  <script>
    attachEventListener(window, "load", function(e) {
      var output = document.getElementById("output");
      output.src = intent.data[0];
    });
  </script>
  <style>
    iframe {
      float:left;
      width: 50%;
      height: 800px;
    }
  </style>
<% end %>
<% content_for(:headline) do %>Image Sharing app<% end %>
<section>
  <p>Imagine this is a page like twit pic or picplz.</p>
  <img id="output" />
</section>
