body {
}

h1 {
  margin-top: 10px;
  font-size: 3em;
  margin-bottom: 15px;
}

a {
  color: #1465A3;
}

nav.sub a:active {
  background-color: red;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 25px;
}

h3 {
  font-size: 1.6em;
  margin-bottom: 15px;
  margin-top: 15px;
}

dl {
line-height: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}

pre {
  padding: 5px;
  font-family: Courier New;
  background-color: #eee;
  border: solid 1px #ccc;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

dt {
  font-weight: 700;
}

dd {
  padding-left: 10px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;

  margin-top: 10px;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 3px;
}

