{% extends "demos/cloudfilepicker/layouts/application.html" %}
{% block title %}Cloud File Picker{% endblock %}
{% block headline %}Cloud File Picker{% endblock %}
{% block scripts %}
  <script src="//webintents.org/webintents.js"></script>
  <script src="/javascripts/events.js"></script>
  <script src="/scripts/proxy.js"></script>
  <script src="/scripts/save.js"></script>
  <script
    src="https://www.google.com/jsapi?key=ABQIAAAAFTbNNpUTYWRw9jdG-0kTfRS5zkozs6sQsOJ2dExE7jTK_xtuGxSV9o6iOAEZOe200o8gHTMinin9ug"></script>
  <link rel=icon href="favicon.ico" />
  <intent action="http://webintents.org/pick"
          type="image/*" />

  <script type="text/javascript">
    var Intent = window.Intent || window.WebKitIntent;
    var startActivity = window.navigator.startActivity || window.navigator.webkitStartActivity;
    window.intent = window.intent || window.webkitIntent;

    google.setOnLoadCallback(createPicker);
    google.load('picker', '1');
    
    var clientId = '464627085914-lfj4ile380lp6nd6ikttbsgtrclq3m56.apps.googleusercontent.com';
    
    function createPicker() {
      var pickerBuilder = new google.picker.PickerBuilder();
      
      if (!!window.intent) {
        if (window.intent.action == "http://webintents.org/pick") {
          if (window.intent.type.indexOf('image/') == 0 || window.intent.type === "*") {
            // TODO. View.setMimeTypes(string). to limit it to specifc types.
            pickerBuilder.addViewGroup(
              new google.picker.ViewGroup(google.picker.ViewId.PHOTOS).
                addView(new google.picker.PhotosView().
                  setType(google.picker.PhotosView.Type.UPLOADED)));
            pickerBuilder.enableFeature(google.picker.Feature.NAV_HIDDEN);
          }
          else if(window.intent.type.indexOf('video') == 0) {
            pickerBuilder.addViewGroup(
                new google.picker.ViewGroup(google.picker.ViewId.WEBCAM).
                  setType(google.picker.WebCamView.Type.VIDEOS));
          }
        }
      }
      else {
        var view = new google.picker.DocsView(google.picker.ViewId.DOCS_IMAGES_AND_VIDEO);
        view.setMode(google.picker.DocsViewMode.GRID);
        pickerBuilder.addView(view);
        pickerBuilder.addView(new google.picker.ImageSearchView().setLicense(google.picker.ImageSearchView.License.None));
        pickerBuilder.addView(new google.picker.PhotosView().setType(google.picker.PhotosView.Type.UPLOADED));
        pickerBuilder.addView(new google.picker.View(google.picker.ViewId.PDFS));
      }

      pickerBuilder.setAppId(clientId); 
      pickerBuilder.setCallback(pickerCallback);
      pickerBuilder.build().setVisible(true);
    }

    function returnImage (e) {
      if(!!window.intent) {
        // Load the image via a proxy
        loadImage(e, function(data) {
          window.intent.postResult(data);             
          setTimeout(function() { window.close();}, 500);
        });
      }
    }

    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        returnImage(data.docs[0].thumbnails[data.docs[0].thumbnails.length > 4 ? 4 : 3].url);
      }
      else if(data.action == google.picker.Action.CANCEL) {
        // Tell the calling app the user cancelled.
        window.intent.postFailure({});
      }
    }
  </script>
  {% endblock %}
  {% block content %}
  <div id="contents">
    <h2>Welcome</h2>
    <p>
      This Cloud File Picker app gives you access to your files held in your Google account for
      use in your favourite applications.
    </p>
    <p>
      Apps won't be able to access your information without your consent, so you are in 
      control of how applications can access your data.
    </p>
  </div>

  <a href="http://www.colourlovers.com/lover/sugar%21/loveNote" id="credits">Background by sugar!</a>
{% endblock %}
