<% content_for(:title) do %>startActivity Handle Input Data<% end %>
<% content_for(:headline) do %>startActivity Handle Input Data<% end %>
<% content_for(:js) do %>
  <%= javascript_include_tag :webintents %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var regBtn = document.getElementById("register");
      regBtn.addEventListener("click", function() {
        window.navigator.register("http://webintents.org/share", undefined);
      }, false);

      var startButton = document.getElementById("startActivity");
      startButton.addEventListener("click", function() {
        var intent = new Intent(
            "http://webintents.org/share");

        window.navigator.startActivity(intent);
      }, false);

      window.navigator.onActivity = function(data) {
        var output = document.getElementById("output");
        output.textContent = JSON.stringify(data);
      };
    }, false);
  </script>
<% end %>
<button id="register">Click to Register Handler</button>
<button id="startActivity">Click to Start Activity</button>
<div id="output"></div>
